body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #333b41;
}

a {
    text-decoration: none;
    color: #333B41;
}

.b {
    border: 1px solid blue;
}


.wrapper-1600 {
    width: 1600px;
    margin: 0 auto;


}

.wrapper-1160 {
    width: 1160px;
    margin: 0 auto;
    position: relative;
}

.d-flex {
    display: flex;
}

header {
    box-sizing: border-box;
    background: #000;
    height: 81px;
    width: 100%;

    padding: 14px 220px 0;

    color: white;

}/* /////////////////  burger  /////////////// */

.logo-burger-li {
    display: none;

}

#menuToggle, .menu-btn {
    display: none;
}



.menu-btn {

    width: 18px;
    height: 10px;
    position: relative;
    cursor: pointer;
    margin: 10px 20px 0 auto;
}

.menu-btn > span::before, .menu-btn>span::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
}

.menu-btn>span::before {
    top: -4px;
}
.menu-btn>span::after {
    bottom: -4px;
}

.menu-btn span {
    display: block;
    position: absolute;
    top: 4px;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 2px;
}

.dark-field {
    display: none;
}



/* .............burger.................... */



.logo h1, .logo p {

    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: white;
    text-align: center;
    font-size: 19px;

    line-height: 23px;

    padding: 3px 4px 0;

    border: 1px solid white;
    border-radius: 2px;

    width: 82px;
    height: 52px;

    margin: 0;
    text-align: center;

}

.logo  h1 a, .logo p a {
    text-decoration: none;
    color: white;
}

.logo::after {
    position: relative;
    content: url("../../assets/icons/bamboo.svg");
    top: -27px;
    left: 11px;

}

.c-orange {
    color: #FB8441;
}

.logo-burger-li {
    display: none;
}

nav, .designSource {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

nav {
    box-sizing: border-box;
    width: 100%;
    padding-left: 24px;
}

nav a, .designSource a {
    color: white;
    text-decoration: none;
}

nav a:hover, .designSource a:hover {
    color: #FB8441;
}

.designSource {
    margin-left: auto;
    text-align: right;
    margin-right: 0;
}

nav li {

    list-style-type: none;
    margin-right: 58px;
}

.section-header {
    height: 780px;

    background-image: url("../../assets/images/giant-panda.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
}

.heading {
    width: 467px;
    height: 467px;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);

    position: relative;
    top: 11px;
    left: 806px;
    order: 1;
}


h2 {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 107px;
    text-transform: uppercase;
    line-height: 80px;
    color: white;
    text-align: center;

    position: relative;
    top: 74px;
    left: 75px;
    width: 500px;
    height: 400px;
    order: 2;
}

.f-yellow {
    color: #ffee2e;
}

button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    color: white;
    width: 298px;
    height: 54px;
    border-radius: 25px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0;
}

button:hover {
    background: #E47209;
}

button:active {
    background: #4B9200;
}

.section-header button {


    margin-top: 79px;
    margin-left: 983px;


}

.watch-online span {
    letter-spacing: 90%;
    text-align: center;
}

.section-second {

    padding: 0;
}

.flowers {
    width: 100%;

    position: relative;
    padding: 0;
    margin: 0;
}

.flower-right-top {
    position: absolute;
    width: 200px;
    right: 2px;
    bottom: -479px;


}

.flower-right-bottom {
    position: absolute;
    width: 368px;
    right: 0px;
    bottom: 0;


}

.flower-left-bottom {
    position: absolute;

    left: 0;
    bottom: 0;

}

.description {
    padding:  0;
    margin: 140px 0 0 0;
    box-sizing: border-box;
    color: #333b41;
    justify-content: space-between;

}

.description img {
    padding: 0;
    margin: 0;
    width: 610px;
    height: 403px;
}

.d-text-field {
    box-sizing: border-box;
    width: 465px;
    height: 405px;
    padding: 0;
}

h3 {
    padding: 0 0 6px 0;
    margin: 0 0 0px 0px;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.35px;
}

h5 {

    margin: 53px 0 35px;
    font-size: 24px;
    line-height: 29px;
}

.d-text-field p {
    font-size: 16px;
    line-height: 21px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.arrow-left {
    left: -82px;
}

.arrow-right {
    right: -80px;
}

.arrow-right, .arrow-left {
    box-sizing: border-box;
    position: absolute;
    top: 988px;

    height: 62px;
    width: 62px;

    text-align: center;
    padding-top: 20px;

    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
}

.arrow-right:hover, .arrow-left:hover {
    background: #E47209;
}

.arrow-right:active, .arrow-left:active {
    background: #4B9200;
}

.animal-cards {
    width: 100%;
    padding-top: 153px;
    padding-bottom: 3px;

    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}



.card {
    margin-top: 20px;
    box-sizing: border-box;
    width: 367px;
    height: 426px;
    flex-shrink: 0;
    border: 1px solid orange;
    border-radius: 5px;
    position: relative;
}

.card-image  {
    box-sizing: border-box;
    width: 368px;
    height: 367px;
    position: relative;

}

.card-image::before {
    position: absolute;
    content: '';
    display: block;
    top: 0px;
    bottom: 367px;
    right: 3px;
    left: 0;
    background-color: #000;
    opacity: 0;
    transition: all 0.6s ease-out;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.card-image:hover::before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    bottom: 0;
    right: 3px;
    left: 0;
    background-color: #000;
    opacity: 0.3;
    transition: 0.6s;

}

.card:hover .image-descr {
    position: absolute;

    transition: all 0.75s ease-out;
    color: white;
    transform: translate(0%, -110%);

}

.card-image img {
    padding: 0;
    margin: 0;
    width: 365px;
    height: 366px;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.image-descr {
    justify-content: space-between;
}

.animal-name h6 {
    margin: 8px 15px 0;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
}

.animal-name p {
    padding: 0px 0 0 0;
    margin: 0 16px;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
}

.animal-meal {
    position: relative;
    margin-top: 13px;
    margin-right: 14px;
    box-sizing: border-box;
    width: 33px;
    height: 38px;

}

.banana {
    position: absolute;
    width: 32px;
    height: auto;
    top: 1px;
    left: 3px;
}

.bamboo {
    position: absolute;
    top: -3px;
    left: 7px;
}

.fish {
    position: absolute;
    top: 7px;
    left: 2px;
}

.steak {
    position: absolute;
    top: 0;
    left: -5px;
}

.section-second button {
    margin: 77px calc(50% - 149px) 100px;

}

.section-third{

    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding: 70px 0 100px;
}

.peek-and-feed {
    box-sizing: border-box;
    margin: 0 auto;
    border-radius: 20px;
    width: 100%;
    height: 835px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    padding: 39px 100px 40px 100px;
}

.peek-and-feed h3 {
    color: #FE9013;
    font-weight: 400;
    text-align: center;



}
.peek-and-feed h5 {
    margin-top: 23px;

    font-weight: 400;
}

.first-p {
    padding-top: 6px;
    font-weight: 500;
    white-space: nowrap;
    margin-bottom: 10px;
}

.second-p {
    margin: 0;

    max-width: 870px;
}

.span-border-bottom {
    display: inline-block;
    border-bottom: 1px solid #FE9013;

}
.peek-and-feed h4 {
    margin-top: 57px;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 35px;
}

h4 {

    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
}

.widgets-block {
    padding-top: 3px;
    width: 764px;
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: space-between;
}

.widget {
    width: 168px;
    height: 246px;

    position: relative;

}

.widget-picture {
    width: 166px;
    height: 166px;
    background-color: white;
    border: 1px solid #F9804B;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.widget-picture img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.widget p {
    padding-top: 15px;
}

.widget:nth-child(1)::after, .widget:nth-child(2)::after  {
    position: absolute;
    content: '';

    background: url(../../assets/icons/arrow-vector.svg) no-repeat;

    width: 70px;
    height: 50px;

    top: 61px;
    left: 197px;

}

.pos-rel1 {
    position: relative;
}

.feed-frend {
    position: absolute;

    left: 0;
    right: 0;

    margin: 58px auto 0px;
}

.testimonials  h4 {
    margin-bottom: 45px;
    padding: 0
}

.section-fourth {
    padding-top: 93px;
    padding-bottom: 180px;
}

.reviews {
    justify-content: space-between;
    overflow: hidden;

}

.card-review {

    flex-wrap: nowrap;
    flex-shrink: 0;
    justify-content: space-between;

    margin: 0 14.5px;
    box-sizing: border-box;
    width: 268px;
    height: 391px;
    padding: 13px;
    /* overflow hidden; */
    position: relative;

    background-color: #F1F3F2;
    background-clip: padding-box;
    border: solid 3px transparent;
    border-radius: 20px;

}

.card-review:before {
    content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -3px;
  border-radius: inherit;
  background: linear-gradient(315deg, rgb(254, 189, 171), rgb(243, 169, 248) 65%, rgb(205, 215, 240) 89%);
}

.card-review p {
    font-size: 15px;
    font-weight: 300;

    margin: 0 2px;
    line-height: 18px;
}

.text-review {
    padding-top: 8px;
    height: 306px;
    overflow: hidden;
}

.user-text {
    padding-left: 10px;
}

.user-pic {
    display: inline-block;
      width: 37px;
    height: 37px;
}

.user-pic img {
    margin-left: 2px;
    margin-top: 1px;

    width: 37px;
    height: 37px;
}

.user-data .user-name {
    font-weight: 500;
    font-size: 16px;
}

.user-name {
    color: #000;
    margin: 0;
    padding: 0;

}
.user-location, .user-date, .user-text > span {
    margin: 0;
    padding: 0;
    display: inline-block;
    color: #bdbdbd;
}

.slider-box {
    overflow: hidden;
}

.card-review:first-child {
    /* margin-left: -0px; */
    transition: 1s;
  }

.slide-range-container {
    width: 600px;
    margin: 0px auto 40px;
}

.slider-range {
    -webkit-appearance: none;
    /* outline: none; */
     /* opacity: 0.7; */
     /*
    -webkit-transition: .2s;
    transition: opacity .2s; */
    /*  */

    box-sizing: border-box;
    margin: 21px auto 31px;
    width: 100%;
    height: 7px;

    border-radius: 5px;
    position: relative;
    box-shadow: -1px 4px 7px 0px lightgray;

    background: #f5f7f6;
    border: 0.5px solid transparent;
    background-clip: padding-box;
}

.slider-range:hover {
    opacity: 1;
}

.slider-range:before {
content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -0.5px;
  z-index: -1;
  margin: -1px -1px;
  border-radius: inherit;

  background: linear-gradient(315deg, rgb(254, 189, 171), rgb(243, 169, 248) 65%, rgb(205, 215, 240) 89%);
}

.slider-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12.5%;
    height: 4px;
    background: orange;
    cursor: pointer;
    border-radius: 5px;
}

.radius-5 {
    border-radius: 5px;
}

.leav-bottom-right {
    position: relative;

    width: 100%;


}

.leav-bottom-right > img {
    position: absolute;
    bottom: -310px;
    right: 0;
    z-index: -1;
}

footer {
    background-color: #111115;
    padding: 41px 0 42px;
}

.footer-top {
    justify-content: space-between;
}
.footer-logo .logo p {
    padding: 0;
    margin: 0;


}

.footer-form {
    box-sizing: border-box;
    width: 404px;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    padding-left: 35px;
    padding-top: 1px;
    padding-bottom: 3px;
    color: #FFFFFF;
}

.subtitle {
    display: block;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    margin: 0px 0 13px;
    padding-left: 3px;
}

input[type=email] {
    width: 228px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #F9804B;

    font-size: 16px;
    background-color: #111115;
    color: #bdbdbd;

    margin: 0 4px 0 3px;
    padding: 10px;

}

input[type=submit] {
    vertical-align: bottom;
    width: 128px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 16px;
    color: #000;

}

input[type=submit]:hover, input[type=submit]:active {
    color: #4b9200;
    border: 1px solid #4b9200;
}

.footer-middle {
    padding: 34px 0 31px;
}

.footer-bottom {
    justify-content: space-between;
}

.footer-social {
    width: 400px;
    flex-direction: column;


}

.footer-social a {

    height: 24px;
    margin: 11.5px 0 0 0;
    text-decoration: none;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.footer-social a:active .s-icon {
    background: #4b9200;

}

.footer-social a:active {
    color: #4b9200;
}

.footer-social a img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.s-icon {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-color: #c4c4c4;
    border-radius: 50%;

    margin-right: 8px;
    position: relative;
    padding: 0;
    vertical-align: text-bottom;
}

.footer-nav .c-orange {
    color:#F9804B;
}

.footer-nav {
    box-sizing: border-box;
    width: 360px;
    height: 140px;
    padding-top: 107px;
}

.footer-nav ul {
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}


.footer-nav a {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-nav a:hover {
    color: #F9804B;
}

.footer-author {

    width: 400px;
    padding: 85px 0 0;
    text-align: right;

}
.author-btn {

    display: inline-block;
    width: 228px;
    height: 70px;
    background: #111115;
    text-align: left;
}
.footer-author a {
    color: #FFFFFF;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    text-decoration: none;
}

.author-btn:hover {
    background: white;
    text-decoration: underline;
    color: #4b9200;
}

.footer-author p {
    margin: 10px 0 0;
}